<div class="card">
  <div class="card-body">
    <p class="card-text">Tên quản lý: {{Manager.manager_name}}</p>
    <p class="card-text">Trạng thái:
      {{#if Manager.status}} Đã kích hoạt{{/if}}
      {{#unless Manager.status}}Khoá{{/unless}}</p>
    <p class="card-text">Tên tài khoản: {{Manager.username}}</p>
    <p class="card-text">Lịch sử hoạt động</p>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Thời gian</th>
          <th scope="col">Hành động</th>
          <th scope="col">Id Bệnh nhân</th>
          <th scope="col">Id địa điểm chữa trị</th>
        </tr>
      </thead>
      <tbody>
        {{#each History}}
          <tr>
            <td>{{this.update_time}}</td>
            <td>{{this.modified_action}}</td>
            <td>{{this.patient_id}}</td>
            <td>{{this.place_id}}</td>
          </tr>
        {{/each}}
      </tbody>
    </table>
    {{#if Manager.status}}
      <a
        class="btn btn-primary btn-lg"
        href="/admin/account/lock/{{Manager.manager_id}}"
        role="button"
      >Khóa tài khoản</a>
    {{/if}}
    {{#unless Manager.status}}
    <a
        class="btn btn-primary btn-lg"
        href="/admin/account/activate/{{Manager.manager_id}}"
        role="button"
      >Kích hoạt tài khoản</a>
    {{/unless}}</p>
  </div>
</div>