<div
  class="container-md px-5 py-3 text-center"
  style="background-color: white;border-radius:25px"
>
  <table class="table table-striped table-bordered" id="sortTable">
    <thead>
      <tr>
        <th scope="col">Manger ID</th>
        <th scope="col">Manager Name </th>
        <th scope="col">Status</th>
        <th scope="col">Username</th>
        <th scope="col"></th>

      </tr>
    </thead>
    <tbody>
      {{#each Managers}}
        <tr>
          <th scope="row">{{this.manager_id}}</th>
          <td>{{this.manager_name}}</td>
          <td>{{this.status}}</td>
          <td>{{this.username}}</td>
          <td><a href="/admin/account/{{this.manager_id}}">Xem thêm</a></td>
        </tr>
      {{/each}}
    </tbody>
  </table>
  <div class="fluid-container">
    <a
      class="btn btn-primary btn-lg"
      href="/admin/addaccount"
      role="button"
    >Thêm Quản Lý</a>
  </div>
  <script src="/js/table.js"></script>
</div>