<div class="overview-boxes">
    <div class="box">
        <div class="right-side">
            <div class="box-topic">Tổng số ca nhiễm</div>
            <div class="number money">{{#with totalCases}}{{totalcases}}{{/with}}</div>
            <div class="indicator">
                <i class='fa fa-calendar'></i>
                <span class="text">Tính đến ngày {{#with staToday}}{{date}}{{/with}}</span>
            </div>
        </div>
        <img class="cart one" src="/img/COVID-19.svg" alt="">
        {{!-- <i class='bx bx-cart-alt cart'></i> --}}
    </div>
    <div class="box">
        <div class="right-side">
            <div class="box-topic">Số ca khỏi bệnh</div>
            <div class="number money">{{#with totalCases}}{{totalrecovered}}{{/with}}</div>
            <div class="indicator">
                <i class='fa fa-calendar'></i>
                <span class="text">Tính đến ngày {{#with staToday}}{{date}}{{/with}}</span>
            </div>
        </div>
        <img class='cart two' src="/img/virus-slash-solid.svg"></img>
    </div>
    <div class="box">
        <div class="right-side">
            <div class="box-topic">Nợ chưa thanh toán</div>
            <div class="number money">{{#with staToday}} {{debt}} {{/with}}</div>
            <div class="indicator">
                <i class='bx bx-up-arrow-alt'></i>
                <span class="text">Tăng 2% so với ngày hôm qua</span>
            </div>
        </div>
        <i class='fa fa-usd cart three'></i>
    </div>

</div>

<div class="sales-boxes">
    <div class="recent-sales box">
        <div class="title text-primary">Thống kê 14 ngày gần đây</div>
        <canvas id="staOverTime" class="mt-2" width="100%"></canvas>
        <div class="button">
            <a class="py-2 px-2 mt-2" href="/manager/statistic">Xem tất cả</a>
        </div>
    </div>
    <div class="top-sales box">
        <div class="title text-primary">Hôm nay</div>
        <canvas id="staToday" width="100%"></canvas>
        <div class="button">
            <a class="py-2 px-2 mt-3" href="#">Chi tiết</a>
        </div>
    </div>
</div>