<div class="container-md px-5 py-3 text-center" style="background-color: white;border-radius:25px">
    <div class="row my-3">
        <div class="col-sm-12 col-md-10 text-left text-secondary">
            <h4><b>CÁC GÓI NHU YẾU PHẨM</b></h4>
        </div>
        <div class="col-sm-12 col-md-2">
            <div class="pull-right">
                <div class="btn-group">
                    <button class="btn btn-info" id="list">
                        <i class="fa fa-bars"></i>
                    </button>
                    <button class="btn btn-danger" id="grid">
                        <i class="fa fa-th-large"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div id="products" class="row view-group">
        {{#each packages}}
        <div class="item col-xs-3 col-lg-4 mb-4">
            <div class="thumbnail card w-100 package">
                <a class="img-event" href="/manager/packages/{{this.package_id}}">
                    <img class="group list-group-image img-fluid" src="/img/product-mix3.png" alt="" />
                </a>
                <div class="caption card-body">
                    <a class="text-decoration-none" href="/manager/packages/{{this.package_id}}">
                        <h4 class="group card-title inner list-group-item-heading text-left text-primary">
                            {{this.package_name}}
                        </h4>
                    </a>
                    <div class="row">
                        <a class="col-10 text-left text-decoration-none text-dark"
                            href="/manager/packages/{{this.package_id}}">
                            <p class="lead">Tối đa {{this.package_limit}} gói/{{this.time_limit}}</p>
                            <h6>Số lượng sản phẩm: {{this.slsp}}</h6>
                        </a>
                        <div class="col-2">
                            <a class="text-danger" data-toggle="modal" style="cursor: pointer;"
                                data-target="#deletePackage{{this.package_id}}">
                                <i class='fa fa-trash-o' style="font-size: 35px;"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{/each}}

    </div>

    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">

        </div>
        <div class="col-3"></div>
    </div>

    <div class="fixed-bottom" style="bottom: 10px; right:10px;">
        <button class="btn btn-success float-right rounded-circle justify-content-center"
            aria-controls="collapseExample" data-toggle="modal" data-target="#dialog1"
            style="border: 3px solid rgb(110, 192, 28);">
            <i class="fa fa-plus text-white" aria-hidden="true" style="font-size:40px;"></i>
        </button>
    </div>
</div>


<div class="modal fade" id="dialog1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <form action="/manager/addPackage" method="POST">
                <div class="modal-header text-primary text-uppercase">
                    <h5 class="modal-title">Thêm gói nhu yếu phẩm mới</h5>
                </div>

                <div class="modal-body">
                    <div class="form-group row">

                        <div class="col-sm-12">
                            <label for="">Tên gói nhu yếu phẩm</label>
                            <input type="text" class="form-control" id="packageName" name="packageName"
                                placeholder="Nhập tên gói nhu yếu phẩm" required>
                        </div>
                        {{!-- <div class="col-sm-12">
                            <label for="">Số lượng sản phẩm trong gói</label>
                            <input type="number" class="form-control" name="numberPackage" id="numberPackage" value="2"
                                min="2" max="10" required>
                        </div> --}}
                        <div class="col-sm-12 mt-4">
                            <label for="">Giới hạn cho mỗi người</label>
                            <input type="number" class="form-control" name="limit" id="numberPackage" value="1" min="1"
                                max="50" required>
                        </div>
                        <div class="col-sm-12 mt-4">
                            <label for="">Giới hạn theo</label>
                            <select class="form-control" name="limitTime" required id="">
                                <option selected value="d">Ngày</option>
                                <option value="w">Tuần</option>
                                <option value="m">Tháng</option>
                            </select>
                        </div>


                        <div class="col-8 mt-4 mb-4">
                            Các sản phẩm trong gói
                        </div>
                        <div class="col-4 mt-4 mb-4 text-center">
                            Giới hạn SL
                        </div>

                        {{#each supplies}}
                        <div class="col-12">
                            <div class="input-group mb-3 row">
                                <div class="col">
                                    <div class="input-group-prepend h-100">
                                        <div class="input-group-text h-100 w-100">
                                            <input type="checkbox" value="{{this.supplies_id}}"
                                                onmousedown="this.form.nProduct{{this.supplies_id}}.disabled=this.checked"
                                                name="suppliesID">
                                            &ensp; {{this.supplies_name}}
                                        </div>

                                    </div>
                                </div>

                                <div class="col-3">
                                    <input type="number" disabled id="nProduct{{this.supplies_id}}" class="form-control"
                                        min="1" name="nProduct" required>
                                </div>
                            </div>
                        </div>
                        {{/each}}

                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                    <button type="submit" class="btn btn-primary">Lưu lại</button>
                </div>
            </form>
        </div>
    </div>
</div>

{{#each packages}}
<div class="modal fade" id="deletePackage{{this.package_id}}" role="dialog" aria-hidden="true"
    style="border-radius: 25%;">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <form action="/manager/deletePackage" method="post">

                <input type="hidden" name="packageID" value="{{this.package_id}}">
                <div class="modal-body">
                    <div class="row">
                        <div class="col ml-auto"><button type="button" class="close" data-dismiss="modal"
                                aria-label="Close"> <span aria-hidden="true">&times;</span> </button></div>
                    </div>
                    <h5>Bạn có chắc muốn xoá <span class="text-primary">{{this.package_name}}</span> ?</h5>
                    
                </div>

                <div class="modal-footer">
                    <button type="submit" class="btn btn-danger">Xác nhận</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Huỷ</button>
                </div>
            </form>
        </div>
    </div>
</div>
{{/each}}