<div class="container-md px-5 py-3 text-center" style="background-color: white;border-radius:25px">
    <div class="row">
        <div class="col">
            <div class="row">
                <h4 class=" pb-2 text-left" style=" font-weight:bold"><b>DANH SÁCH NGƯỜI BỆNH</b></h4>
            </div>
        </div>
        <div class="col">
            <div class="row">
                <div class="col-md-12">
                    <form action="" accept-charset="UTF-8" method="get">
                        <div class="input-group">
                            <input type="text" name="search" id="search"
                                style="border:1px solid rgba(0, 106, 255, 0.715); margin-right:5px; border-radius:3px;"
                                placeholder="Tìm kiếm người bệnh" class="form-control">
                            <span class="input-group-btn">
                                <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">
                                    <i class='bx bx-search'></i>
                                </button>
                            </span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row align-items-center border-bottom py-4">
        <div class="col-2">
            <div class="row" style=" font-weight:bold">Họ tên
                <a href="/manager/patientsSortByName">
                    <i class="bx bxs-sort-alt" style="font-size: 20px;"></i>
                </a>
            </div>
        </div>
        <div class="col-2" style="font-weight:bold">CMND

        </div>
        <div class="col-2" style=" font-weight:bold">Năm sinh</div>
        <div class="col-1" style="font-weight:bold; font-size: 16px;">Trạng thái
            <a href="/manager/patientsSortByStatus">
                <i class="bx bxs-sort-alt" style="font-size: 15px;"></i>
            </a>
        </div>
        <div class="col-3" style=" font-weight:bold">Địa chỉ </div>
        <div class="col-2" style="font-weight:bold">Chi tiết và sửa đổi</div>
    </div>

    {{#each patients}}
    <div class="row align-items-center border-bottom py-4">
        <div class="col-2">
            <div class="row">{{this.patient_name}}</div> <!-- <=> patients.patient_name -->
        </div>
        <div class="col-2">{{this.identity_card}}</div>
        <div class="col-2">{{this.birthday}}</div>
        <div class="col-1">F{{this.status}}</div>
        <div class="col-3">{{this.address}}</div>
        <div class="col-2">
            <a href="/manager/patients/{{this.patient_id}}">
                <i class="bx bx-list-ul" style="font-size: 30px;"></i>
            </a>
        </div>
    </div>
    {{/each}}

</div>

<div class="fixed-bottom" style="bottom: 10px; right:10px;">
    <button class="btn btn-success float-right rounded-circle justify-content-center" aria-controls="collapseExample"
        data-toggle="modal" data-target="#dialog1" style="border: 3px solid rgb(110, 192, 28);">
        <i class="fa fa-plus text-white" aria-hidden="true" style="font-size:40px;"></i>
    </button>
</div>

<div class="row text-center mt-3 mb-3">
    <div class="col">
        <ul class="pagination justify-content-center">
            <li class="page-item disabled">
                <a class="page-link" href="#">
                    <i class="fa fa-step-backward" aria-hidden="true"></i>
                </a>
            </li>
            <li class="page-item disabled">
                <a class="page-link" href="#">
                    <i class="fa fa-chevron-left" aria-hidden="true"></i>
                </a>
            </li>
            <li class="page-item  disabled"><a class="page-link" href="#">1</a></li>

            <li class="page-item disabled">
                <a class="page-link" href="#">
                    <i class="fa fa-chevron-right" aria-hidden="true"></i>
                </a>
            </li>
            <li class="page-item disabled">
                <a class="page-link" href="#">
                    <i class="fa fa-step-forward" aria-hidden="true"></i>
                </a>
            </li>

        </ul>
    </div>
</div>

<div class="modal fade" id="dialog1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <form action="/manager/addPatient" method="post">
                <div class="modal-header text-primary text-uppercase">
                    <h5 class="modal-title">Tên người bệnh</h5>
                </div>

                <div class="modal-body">
                    <div class="form-group row">

                        <div class="col-sm-12">
                            <label for="">Tên người bệnh</label>
                            <input type="text" class="form-control" id="patient_name" name="patient_name"
                                placeholder="Nhập tên người bệnh" required>
                        </div>
                        <div class="col-sm-12 mt-4">
                            <label for="">CMND</label>
                            <input type="number" class="form-control" id="identity_card" name="identity_card"
                                placeholder="Nhập CMND" required>
                        </div>

                        <div class="col-sm-12 mt-4">
                            <label for="">Năm sinh</label>
                            <input type="date" class="form-control" id="birthday" name="birthday" placeholder="Năm sinh"
                                required>
                        </div>
                        <div class="col-sm-12 mt-4">
                                <label for="address">Địa chỉ</label>
                                <input type="text" class="form-control" id="address" name="address"
                                    placeholder="Số nhà, tên đường, khu phố" required>

                        </div>
                        <div class="col-sm-12 mt-4">
                            <label for="">Trạng thái (F)</label>
                            <input type="number" class="form-control" id="status" value="0" name="status"
                                placeholder="Tình trạng hiện tại" required>
                        </div>

                        <div class="col-sm-12 mt-4">
                            <label for="">Nơi điều trị</label>
                            <select name="place_id" class="custom-select">
                                {{#each listTreatmentPlace}}
                                <option value='{{this.place_id}}'>
                                    {{this.place_name}}
                                </option>
                                {{/each}}
                            </select>
                        </div>

                        <div class="col-sm-12 mt-4">
                            <label for="">Người liên quan (nếu có)</label>
                            <select name="relatedPatientID" class="custom-select">
                                <option value ='0' >Không có người liên quan</option>
                                {{#each patients}}
                                <option value='{{this.patient_id}}'> {{this.patient_name}} (CMND: {{this.identity_card}}) </option>
                                {{/each}}
                            </select>
                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                    <button type="submit" class="btn btn-primary">Lưu lại</button>
                </div>
            </form>
        </div>
    </div>
</div>