<div class="container-md px-5 py-3 text-center" style="background-color: white;border-radius:25px">
    <div class="row">
        <div class="col">
            <div class="row">
                <h4 class=" pb-2 text-left" style=" font-weight:bold"><b>DANH SÁCH NGƯỜI BỆNH</b></h4>
            </div>
        </div>
        <div class="col">
            <div class="row">
                <div class="col-md-12">
                    <form action="" accept-charset="UTF-8" method="get">
                        <div class="input-group">
                            <input type="text" name="search" id="search"
                                style="border:1px solid rgba(0, 106, 255, 0.715); margin-right:5px; border-radius:3px;"
                                placeholder="Tìm kiếm người bệnh" class="form-control">
                            <span class="input-group-btn">
                                <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">
                                    <i class='bx bx-search'></i>
                                </button>
                            </span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row align-items-center border-bottom py-4">
        <div class="col-2">
            <div class="row" style=" font-weight:bold">Họ tên
                <a href="#">
                    <i class="bx bxs-sort-alt" style="font-size: 20px;"></i>
                </a>
            </div>
        </div>
        <div class="col-2" style="font-weight:bold">CMND
            <a href="#">
                <i class="bx bxs-sort-alt" style="font-size: 20px;"></i>
            </a>
        </div>
        <div class="col-1" style=" font-weight:bold">Năm sinh</div>
        <div class="col-2" style="font-weight:bold">Trạng thái
            <a href="#">
                <i class="bx bxs-sort-alt" style="font-size: 20px;"></i>
            </a>
        </div>
        <div class="col-2" style=" font-weight:bold">Nơi điều trị <a href="#">
                <i class="bx bxs-sort-alt" style="font-size: 20px;"></i>
            </a> </div>
        <div class="col-2" style=" font-weight:bold">Các F liên quan</div>
        <div class="col-1" style="font-weight:bold">Lịch sử</div>
    </div>

    {{#each patients}}
    <div class="row align-items-center border-bottom py-4">
        <div class="col-2">
            <div class="row">{{this.patient_name}}</div>
        </div>
        <div class="col-2">{{this.identity_card}}</div>
        <div class="col-1">{{this.birthday}}</div>
        <div class="col-2">F{{this.status}}</div>
        <div class="col-2">{{this.address}}</div>
        <div class="col-2">Nguyễn văn B</div>
        <div class="col-1">
            <a href="#">
                <i class="bx bx-list-ul" style="font-size: 30px;"></i>
            </a>
        </div>
    </div>
    {{/each}}
    <div class="row text-center mt-3">
        <div class="col">
            <button type="button" class="btn btn-success" data-toggle="modal" data-target="#dialog1">
                <i class='bx bx-plus-circle'></i> Thêm người bệnh
            </button>
        </div>
    </div>
</div>

<div class="modal fade" id="dialog1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <form action="/manager/addPatient" method="post">
                <div class="modal-header text-primary text-uppercase">
                    <h5 class="modal-title">Tên người bệnh</h5>
                </div>

                <div class="modal-body">
                    <div class="form-group row">

                        <div class="col-sm-12">
                            <label for="">Tên người bệnh</label>
                            <input type="text" class="form-control" id="patient_name" name="patient_name"
                                placeholder="Nhập tên người bệnh" required>
                        </div>
                        <div class="col-sm-12 mt-4">
                            <label for="">CMND</label>
                            <input type="text" class="form-control" id="identity_card" name="identity_card" 
                             placeholder="Nhập CMND" required>
                        </div>

                        <div class="col-sm-12 mt-4">
                            <label for="">Năm sinh</label>
                            <input type="text" class="form-control" id="birthday" name="birthday" 
                              placeholder="Năm sinh" required>
                        </div>

                        <div class="col-sm-12 mt-4">
                            <label for="">Trạng thái</label>
                            <input type="text" class="form-control" id="status" name="status" 
                              placeholder="Tình trạng hiện tại" required>
                        </div>

                        <div class="col-sm-12 mt-4">
                            <label for="">Nơi điều trị</label>
                            <input type="text" class="form-control" id="address" name="address" 
                              placeholder="Nhập nơi điều trị" required>
                        </div>

                        <div class="col-sm-12 mt-4">
                            <label for="">Các F liên quan</label>
                            <input type="text" class="form-control" placeholder="Nhập tên các F liên quan" required>
                        </div>
                        <div class="col-sm-12 mt-4">
                            <label for="">Lịch sử quản lý</label>
                            <input type="text" class="form-control" placeholder="Nhập lịch sử quản lý" required>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                    <button type="submit" class="btn btn-primary">Lưu lại</button>
                </div>
            </form>
        </div>
    </div>
</div>