<div class="container-md px-5 py-3 text-center" style="background-color: white;border-radius:25px">
    <div class="row my-3">
        <div class="col-sm-12 col-md-6 text-left text-secondary">
            <div class="dropright btn">
                <a class="dropdown-toggle text-decoration-none text-secondary" id="dropdownMenuButton3"
                    data-toggle="dropdown" style="cursor:pointer; font-size:24px" aria-expanded="false">
                    <b>DANH SÁCH SẢN PHẨM</b>
                </a>

                <div class="dropdown-menu px-3" aria-labelledby="dropdownMenuButton">                  
                    <label for="">Giá từ (VNĐ)</label>
                    <input type="number" name="minPrice" step="1000" min="0" value="1000"
                        style="border:1px solid rgba(0, 106, 255, 0.715); margin-right:5px; border-radius:3px;"
                        class="form-control">
                    <label for="" class="mt-2">Đến (VNĐ)</label>
                    <input type="number" name="maxPrice" step="1000" min="0" value="20000"
                        style="border:1px solid rgba(0, 106, 255, 0.715); margin-right:5px; border-radius:3px;"
                        class="form-control">

                    <button class="btn btn-outline-primary my-3" type="submit" onclick="suppliesFilter()">
                        <i class='fa fa-filter'></i> Lọc
                    </button>

                </div>
            </div>
        </div>
        <div class="col-sm-4 col-md-2 text-left text-secondary">
            <select class="form-control" name="sortBy" onchange="sortSupplies()">
                <option value="">Sắp xếp theo</option>
                <option value="supplies_name">> Tên</option>
                <option value="price">> Giá</option>
            </select>
        </div>
        <div class="col-sm-4 col-md-2 text-left text-secondary">
            <select class="form-control" name="sortOption" onchange="sortSupplies()">
                <option value="ASC">Tăng dần</option>
                <option value="DESC">Giảm dần</option>
            </select>
        </div>
        <div class="col-sm-4 col-md-2">
            <div class="pull-right">
                <div class="btn-group">
                    <button class="btn btn-info" id="list">
                        <i class="fa fa-bars"></i>
                    </button>
                    <button class="btn btn-danger" id="grid">
                        <i class="fa fa-th-large"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
    {{#if supplies}}
    <div id="products" class="row view-group">
        {{#each supplies}}

        <div class="item col-xs-3 col-lg-4 mb-4">
            <div class="thumbnail card w-100 package">
                <div class="img-event">
                    <a class="text-primary" data-toggle="modal" style="cursor: pointer;"
                        data-target="#edtSupplies{{this.supplies_id}}">

                        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                            <div class="carousel-inner">
                                {{#if img}}
                                {{#each img}}
                                <div class="carousel-item {{#eq @index 0}}active{{/eq}}">
                                    <img src="{{this.image_url}}" class="d-block w-100" alt="Hình minh hoạ sản phẩm">
                                </div>
                                {{/each}}
                                {{else}}
                                <img src="/img/product-mix2.png" class="d-block w-100" alt="Hình minh hoạ sản phẩm">
                                {{/if}}
                            </div>

                        </div>


                    </a>
                </div>
                <div class="caption card-body">
                    <a class="text-primary text-decoration-none" data-toggle="modal" style="cursor: pointer;"
                        data-target="#edtSupplies{{this.supplies_id}}">
                        <h4 class="group card-title inner list-group-item-heading text-left text-primary">
                            {{this.supplies_name}}
                        </h4>
                    </a>
                    <div class="row">
                        <a class="text-primary text-decoration-none col-10 text-left" data-toggle="modal"
                            style="cursor: pointer;" data-target="#edtSupplies{{this.supplies_id}}">
                            <span class="lead text-secondary">
                                <span class="money">{{this.price}}</span>đ/{{this.unit}}
                            </span>
                        </a>
                        <div class="col-2">
                            <a class="text-danger" data-toggle="modal" style="cursor: pointer;"
                                data-target="#deleteSupplies{{this.supplies_id}}">
                                <i class='fa fa-trash-o' style="font-size: 35px;"></i>
                            </a>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        {{/each}}

    </div>
    {{else}}
    <h3 class="text-primary my-5">Không tìm thấy sản phẩm</h3>
    {{/if}}

    <div class="row text-center mt-3 mb-3">
        <div class="col">
            {{#if page}}
            <ul class="pagination justify-content-center">
                <li class="page-item{{#eq page 1}} disabled{{/eq}}">
                    <a class="page-link" href="/manager/?page=1">
                        <i class="fa fa-step-backward" aria-hidden="true"></i>
                    </a>
                </li>
                <li class="page-item{{#eq page 1}} disabled{{/eq}}">
                    <a class="page-link" href="/manager/supplies?page={{sub page 1}}">
                        <i class="fa fa-chevron-left" aria-hidden="true"></i>
                    </a>
                </li>
                
                {{#each pageList}}
                <li class="page-item {{#eq this page}} disabled{{/eq}}"><a class="page-link"
                        href="/manager/supplies?page={{this}}">{{this}}</a></li>
                {{/each}}
                <li class="page-item{{#eq page numberOfPage}} disabled{{/eq}}">
                    <a class="page-link" href="/manager/supplies?page={{sum page 1}}">
                        <i class="fa fa-chevron-right" aria-hidden="true"></i>
                    </a>
                </li>
                <li class="page-item{{#eq page numberOfPage}} disabled{{/eq}}">
                    <a class="page-link" href="/manager/?page={{numberOfPage}}">
                        <i class="fa fa-step-forward" aria-hidden="true"></i>
                    </a>
                </li>

            </ul>
            {{/if}}
        </div>
    </div>


    <div class="fixed-bottom" style="bottom: 10px; right:10px;">
        <button class="btn btn-success float-right rounded-circle justify-content-center"
            aria-controls="collapseExample" data-toggle="modal" data-target="#dialog2"
            style="border: 3px solid rgb(110, 192, 28);">
            <i class="fa fa-plus text-white" aria-hidden="true" style="font-size:40px;"></i>
        </button>
    </div>

</div>



<div class="modal fade" id="dialog2" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <form action="/manager/addSupplies" method="post" enctype="multipart/form-data">
                <div class="modal-header text-primary text-uppercase">
                    <h5 class="modal-title">Thêm sản phẩm mới</h5>
                </div>

                <div class="modal-body">
                    <div class="form-group row">

                        <div class="col-sm-12">
                            <label for="">Tên sản phẩm</label>
                            <input type="text" class="form-control" id="productName" name="productName"
                                placeholder="Nhập tên sản phẩm">
                        </div>

                        <div class="col-sm-12 mt-4">
                            <label for="price">Giá tiền</label>
                            <div class="input-group mb-3">

                                <input type="number" class="form-control" name="price" id="price" value="1000"
                                    min="1000" step="1000" required aria-label="Recipient's username"
                                    aria-describedby="basic-addon2">
                                <div class="input-group-append">
                                    <span class="input-group-text" id="basic-addon2">VNĐ</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 mt-4">
                            <label for="unit">Đơn vị định lượng</label>
                            <input type="text" class="form-control" id="unit" name="unit"
                                placeholder="cái/chiếc/thùng/...">
                        </div>
                        <div class="col-sm-12">
                            <div class="container">
                                <fieldset class="form-group">
                                    <a href="javascript:void(0)" onclick="$('#pro-image').click()">Thêm ảnh</a>
                                    <input type="file" id="pro-image" name="pro-image" style="display: none;"
                                        class="form-control" multiple>
                                </fieldset>
                                <div class="preview-images-zone">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Lưu lại</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Huỷ</button>
                </div>
            </form>
        </div>
    </div>
</div>


{{#each supplies}}
<div class="modal fade" id="edtSupplies{{this.supplies_id}}" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <form action="/manager/updateSupplies" method="post">
                <div class="modal-header text-primary text-uppercase">
                    <h5 class="modal-title text-left">Chỉnh sửa thông tin</h5>
                    <h5 class="modal-title text-right">MÃ SP: {{this.supplies_id}}</h5>
                </div>
                <input type="hidden" name="suppliesID" value="{{this.supplies_id}}">
                <div class="modal-body">
                    <div class="form-group row">

                        <div class="col-sm-12">
                            <label for="">Tên sản phẩm</label>
                            <input type="text" class="form-control" id="productName" name="suppliesName"
                                value="{{this.supplies_name}}" required>
                        </div>

                        <div class="col-sm-12 mt-4">
                            <label for="price">Giá tiền</label>
                            <div class="input-group mb-3">

                                <input type="number" class="form-control" name="price" id="price" value="{{this.price}}"
                                    min="1000" step="1000" required aria-label="Recipient's username"
                                    aria-describedby="basic-addon2">
                                <div class="input-group-append">
                                    <span class="input-group-text" id="basic-addon2">VNĐ</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 mt-4">
                            <label for="unit">Đơn vị định lượng</label>
                            <input type="text" class="form-control" id="unit" name="unit" value="{{this.unit}}"
                                required>
                        </div>
                        {{#if img}}
                        
                        {{else}}
                        <div class="col-sm-12">
                            <div class="container">
                                <fieldset class="form-group">
                                    <a href="javascript:void(0)" onclick="$('#pro-image').click()">Thêm ảnh</a>
                                    <input type="file" id="pro-image" name="pro-image" style="display: none;"
                                        class="form-control" multiple>
                                </fieldset>
                                <div class="preview-images-zone">

                                </div>
                            </div>
                        </div>
                        {{/if}}
                        
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Lưu lại</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Huỷ</button>
                </div>
            </form>
        </div>
    </div>
</div>
{{/each}}

{{#each supplies}}
<div class="modal fade" id="deleteSupplies{{this.supplies_id}}" role="dialog" aria-hidden="true"
    style="border-radius: 25%;">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <form action="/manager/deleteSupplies" method="post">

                <input type="hidden" name="suppliesID" value="{{this.supplies_id}}">
                <div class="modal-body">
                    <div class="row">
                        <div class="col ml-auto"><button type="button" class="close" data-dismiss="modal"
                                aria-label="Close"> <span aria-hidden="true">&times;</span> </button></div>
                    </div>
                    <h5>Bạn có chắc muốn xoá <span class="text-primary">{{this.supplies_name}}</span> ?</h5>
                    <p class="text-secondary">Thông tin sản phẩm trong các gói nhu yếu phẩm cũng sẽ được xoá bỏ</p>
                </div>

                <div class="modal-footer">
                    <button type="submit" class="btn btn-danger">Xác nhận</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Huỷ</button>
                </div>
            </form>
        </div>
    </div>
</div>
{{/each}}