<div class="row">
    {{#if msg}}
    <div class="alert alert-danger" role="alert">
        {{msg}}
    </div>
    {{/if}}
</div>
<div class="row mx-2">
    
    <div class="col-3 mx-3 mb-4 h-100" style="border-radius:25px;min-width:350px;">

        <div class="row pt-4 pb-2 px-4 mx-1 mb-4" style="background-color: white; border-radius:25px;min-width:350px;">
            <div class="text-center mb-4">
                <img src="/img/product-mix3.png" class="img-thumbnail rounded-circle"
                    style="width:50%;border:1px solid red" alt="">
            </div>
            <div class="col">
                <form method="post" >
                    <input type="hidden" name="packageID" value="{{package.package_id}}">
                    <div class="form-group">
                        <label for="inputName">> Tên gói sản phẩm</label>
                        <input type="text" class="form-control" id="inputName" name="packageName"
                            value="{{package.package_name}}"disabled>
                    </div>
                    <div class="form-group">
                        <label for="inputEx">> Giới hạn mỗi người</label>
                        <div class="input-group">
                            <input type="number" class="form-control" value="{{package.package_limit}}" min="1"
                                aria-label="inputEx" name="packageLimit" aria-describedby="basic-addon1" disabled>
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1">gói</span>
                            </div>

                        </div>

                    </div>

                    <div class="form-group">
                        <label for="limitTime">> Giới hạn theo</label>
                        <select class="form-control" name="limitTime" required id="" disabled>
                            <option {{#eq package.time_limit "d"}}selected{{/eq}} value="d">ngày</option>
                            <option {{#eq package.time_limit "w"}}selected{{/eq}} value="w">tuần</option>
                            <option {{#eq package.time_limit "m"}}selected{{/eq}} value="m">tháng</option>
                        </select>
                    </div>
                </form>

            </div>
        </div>
    </div>

    <div class="col">
        <form method="post" action="/user/buyPacket/{{package.package_id}}"  class="row py-2 px-4 mx-1"
            style="background-color: white; border-radius:25px;min-width:350px;">
            <div class="col-12 text-center mt-4">
                <h4 class="text-primary">CÁC SẢN PHẨM THUỘC GÓI</h4>
            </div>
            <div class="row col-12">
                <div class="col-5 mt-2 mb-2">
                    Các sản phẩm trong gói
                </div>
                <div class="col-3 mt-2 mb-2">
                    Giá thành
                </div>
                <div class="col-2 mt-2 mb-2">
                    Tối đa
                </div>
                <div class="col-2 mt-2 mb-2 ">
                    Số lượng
                </div>
            </div>
            {{#each supplies1}}
            
            <div class="row">
                <div class="col-12">
                    <div>
                        <div style="width: 100px;" id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                            <div class="carousel-inner">
                                {{#if img}}
                                {{#each img}}
                                <div class="carousel-item {{#eq @index 0}}active{{/eq}}">
                                    <img src="{{this.image_url}}" class="d-block w-100" alt="Hình minh hoạ sản phẩm">
                                </div>
                                {{/each}}
                                {{else}}
                                <img src="/img/product-mix2.png" class="d-block w-100" alt="Hình minh hoạ sản phẩm">
                                {{/if}}
                            </div>
                        </div>
                    </div>
                <div class="input-group row">
                    <div class="col-5 mt-2 mb-2">
                        <div class="input-group-prepend h-100">
                            <div class="input-group-text h-100 w-100">
                                <input type="checkbox" value="{{this.supplies_id}}" checked 
                                    onmousedown="this.form.nProduct{{this.supplies_id}}.disabled=this.checked"
                                    name="suppliesID" >
                                &ensp; {{this.supplies_name}}
                            </div>

                        </div>
                    </div>
                    <div class="col-3  mt-2 mb-2">
                        <input type="number" class="form-control" min="1"
                           value="{{this.price}}" disabled>
                    </div>
                    <div class="col-2 mt-2 mb-2">
                        <input type="number" class="form-control" min="1"
                           value="{{this.quantity_limit}}" disabled>
                    </div>
                    <div class="col-2 mt-2 mb-2">
                        <input price="{{this.price}}" type="number" id="nProduct{{this.supplies_id}}" class="form-control" min="1" max = "{{this.quantity_limit}}"
                            name="nProduct" value="{{this.quantity_limit}}" required>
                    </div>
                </div>
            </div>
            </div>
            {{/each}}
            <div class="col-12 text-right">
                <h4  id="cost">Tổng giá thành: {{defaultPrice}} VNĐ</h4>
                <input id="lastCost" type="number" class="form-control" name="grandTotal"
                           value="{{defaultPrice}}"  hidden>
            </div>
            <div class="col-12 text-right">
                    <button type="submit" id="buyBtn" class="btn btn-success"  style="cursor: pointer;">Mua</button>
            </div>
        </form>
        
    </div>
</div>
