<div class="container-md px-5 py-3 text-center" style="background-color: white;border-radius:25px">
    <div class="row my-3">
        <div class="col-sm-12 col-md-10 text-left text-secondary">
            <h4><b>CÁC GÓI NHU YẾU PHẨM</b></h4>
        </div>
        <div class="col-sm-12 col-md-2">
            <div class="pull-right">
                <div class="btn-group">
                    <button class="btn btn-info" id="list">
                        <i class="fa fa-bars"></i>
                    </button>
                    <button class="btn btn-danger" id="grid">
                        <i class="fa fa-th-large"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div id="products" class="row view-group">
        {{#each packages}}
        <div class="item col-xs-3 col-lg-4">
            <div class="thumbnail card w-100 package">
                <a class="img-event" href="/user/packages/{{this.package_id}}">
                    <img class="group list-group-image img-fluid" src="/img/product-mix3.png" alt="" />
                </a>
                <div class="caption card-body">
                    <a class="text-decoration-none" href="/user/packages/{{this.package_id}}">
                        <h4 class="group card-title inner list-group-item-heading text-left text-success">
                            {{this.package_name}}
                        </h4>
                    </a>
                    <div class="row">
                        <a class="col-10 text-left text-decoration-none text-dark"
                            href="/user/packages/{{this.package_id}}">
                            <p class="lead">Tối đa {{this.package_limit}} gói/{{this.time_limit}}</p>
                            <h6>Số lượng sản phẩm: {{this.slsp}}</h6>
                        </a>
                        <div class="col-2">
                            <a href="#" class="text-success">
                                <i class='bi bi-cart' style="font-size: 30px;"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{/each}}

    </div>

    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">

        </div>
        <div class="col-3"></div>
    </div>

</div>


