<div class="container">
    <div class="row">
        <div class="col-xl-12">
            <div class="card">
                <div class="card-body">
                    <h4 class=" pb-2 text-left" style=" font-weight:bold"><b>DANH SÁCH HÓA ĐƠN</b></h4>
                    <div class="table-responsive">
                        <table class="table table-hover mb-0">
                            <thead>
                                <tr class="align-self-center">
                                    <th>Mã Hóa Đơn</th>
                                    <th>Tên Khách Hàng</th>
                                    <th>Mô tả</th>
                                    <th>Ngày tạo hóa đơn</th>
                                    <th>Số tiền</th>
                                    <th>Trạng thái</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each orders}}
                                    <tr>
                                        <td>{{this.order_id}}</td>
                                        <td>{{this.patient_name}}</td>
                                        <td>{{this.package_name}}</td>
                                        <td>{{this.timeorder}}</td>
                                        <td>{{this.grand_total}}</td>
                                        {{#if this.status }}
                                            <td><span class="badge badge-pill badge-success">Đã thanh toán</span></td>
                                            <td><span class="btn btn-success disable">Thanh Toán</span></td>
                                            {{else}}
                                            <td><span class="badge badge-pill badge-danger">Chưa thanh toán</span></td>
                                            <td><span class="btn btn-success">Thanh Toán</span></td>
                                        {{/if}}
                                        <td><a href="" data-toggle="modal" data-target="#order{{this.order_id}}" >Xem chi tiết</a></td>
                                    </tr>
                                {{/each}}
                            </tbody>
                        </table>
                    </div>
                    {{#each orders}}
                    <div class="modal fade" id="order{{this.order_id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-xl">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Tổng số nợ</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div class="container">
                                        <div class="card">
                                            <div class="card-body">
                                                <div id="invoice">
                                                    <div class="invoice overflow-auto">
                                                        <div style="min-width: 600px">
                                                            <main>
                                                                <table>
                                                                    <thead>
                                                                        <tr>
                                                                            <th>
                                                                                <h4>Mã hóa đơn</h4>
                                                                            </th>
                                                                            <th class="text-left">
                                                                                <h4>Tên sản phẩm</h4>
                                                                            </th>
                                                                            <th class="text-left">
                                                                                <h4>Số lượng</h4>
                                                                            </th>
                                                                            <th class="text-right">
                                                                                <h4>Số tiền</h4>
                                                                            </th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                        {{#each supplies}}
                                                                        <tr>
                                                                            <td class="no">{{this.order_id}}</td>
                                                                            <td class="text-left">
                                                                                <h4>
                                                                                    {{this.supplies_name}}
                                                                                </h4>
                                                                            </td>
                                                                            <td>
                                                                                <h4>{{this.quantity}}</h4>
                                                                            </td>
                                                                            <td class="total">{{this.total}}</td>
                                                                        </tr>
                                                                        {{/each}}
                                                                    </tbody>
                                                                    <tfoot>
                                                                        <tr>
                                                                            <td colspan="1"></td>
                                                                            <td colspan="1">Tổng cộng</td>
                                                                            <td>500.000 VNĐ</td>
                                                                        </tr>
                                                                    </tfoot>
                                                                </table>
                                                            </main>
                                                        </div>
                                                        <!--DO NOT DELETE THIS div. IT is responsible for showing footer always at the bottom-->
                                                        <div></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
</div>