<div class="row">
    {{#if msg}}
        <div class="alert alert-{{color}}" role="alert">
            {{msg}}
        </div>
    {{/if}}
</div>
<div class="container">
    <div class="row">
        <div class="col-xl-12">
            <div class="card">
                <div class="card-body">
                    <h4 class=" pb-2 text-left" style=" font-weight:bold">
                        <b>DANH SÁCH HÓA ĐƠN</b>
                        <div class="text-right money">Tổng dư nợ: {{totalGrand}} VNĐ</div>
                        <div class="text-right money">Hạn mức thanh toán tối thiểu: {{payLimitPertime}} VNĐ</div>
                        <input id="payLimitPertime" type="number" value="{{payLimitPertime}}" hidden/>
                        
                    </h4>
                    <div class="table-responsive">
                        <table class="table table-hover mb-0">
                            <thead>
                                <tr class="align-self-center">
                                    <th>Mã Hóa Đơn</th>
                                    <th>Tên Khách Hàng</th>
                                    <th>Mô tả</th>
                                    <th>Ngày tạo hóa đơn</th>
                                    <th>Số tiền</th>
                                    <th>Trạng thái</th>
                                    <th onClick="checkAll()">Chọn tất cả</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each orders}}
                                    <tr>
                                        <td>{{this.order_id}}</td>
                                        <td>{{this.patient_name}}</td>
                                        <td>{{this.package_name}}</td>
                                        <td>{{this.timeorder}}</td>
                                        <td>{{this.grand_total}} VNĐ</td>
                                        {{#if this.order_status }}
                                            <td><span class="badge badge-pill badge-success">Đã thanh toán</span></td>
                                            <td>
                                                
                                            </td>
                                            {{else}}
                                            <td><span class="badge badge-pill badge-danger">Chưa thanh toán</span></td>
                                            <td>
                                                <div class="custom-control custom-checkbox">
                                                    <input type="checkbox" order_id ="{{this.order_id}}" class="custom-control-input" grand ="{{this.grand_total}}" id="check{{this.order_id}}">
                                                    <label class="custom-control-label" for="check{{this.order_id}}"></label>
                                                </div>
                                            </td>
                                        {{/if}}
                                        <td><a href="" data-toggle="modal" data-target="#order{{this.order_id}}" >Xem chi tiết</a></td>
                                    </tr>
                                {{/each}}
                            </tbody>
                        </table>
                        <div class="d-flex justify-content-end">
                            <div onclick="payBill()" class="btn-success btn text-right" data-toggle="modal" data-target="#payModal">Thanh toán</div>
                        </div>
                        
                    </div>
                    {{#each orders}}
                    <div class="modal fade" id="order{{this.order_id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-xl">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Tổng số nợ</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div class="container">
                                        <div class="card">
                                            <div class="card-body">
                                                <div id="invoice">
                                                    <div class="invoice overflow-auto">
                                                        <div style="min-width: 600px">
                                                            <main>
                                                                <table>
                                                                    <thead>
                                                                        <tr>
                                                                            <th>
                                                                                <h4>Mã hóa đơn</h4>
                                                                            </th>
                                                                            <th class="text-left">
                                                                                <h4>Tên sản phẩm</h4>
                                                                            </th>
                                                                            <th class="text-left">
                                                                                <h4>Số lượng</h4>
                                                                            </th>
                                                                            <th class="text-right">
                                                                                <h4>Số tiền</h4>
                                                                            </th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                        {{#each supplies}}
                                                                        <tr>
                                                                            <td class="no">{{this.order_id}}</td>
                                                                            <td class="text-left">
                                                                                <h4>
                                                                                    {{this.supplies_name}}
                                                                                </h4>
                                                                            </td>
                                                                            <td>
                                                                                <h4>{{this.quantity}}</h4>
                                                                            </td>
                                                                            <td class="total">{{this.total}}VNĐ</td>
                                                                        </tr>
                                                                        {{/each}}
                                                                    </tbody>
                                                                    <tfoot>
                                                                        <tr>
                                                                            <td colspan="1"></td>
                                                                            <td colspan="2">Tổng cộng</td>
                                                                            <td class="money">{{grand_total}} VNĐ</td>
                                                                        </tr>
                                                                    </tfoot>
                                                                </table>
                                                            </main>
                                                        </div>
                                                        <!--DO NOT DELETE THIS div. IT is responsible for showing footer always at the bottom-->
                                                        <div></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="payModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Xác nhận thanh toán</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body" id="announcementPay">
            Bạn có chắc muốn thành toán
        </div>
        <div class="modal-footer">
            
            <form class="p-0 m-0" action="#">
                <div class="form-group">
                </div>
                <button type="button" class="btn btn-secondary" data-dismiss="modal" >Không</button>
            </form>
            <form class="p-0 m-0" action="/user/callAddPaymentAPI" method="POST">
                <div class="form-group">
                    <input name="totalPayment" type="number" class="form-control" hidden>
                    {{#each orders}}
                        <input id="checkedOrder{{this.order_id}}" name="checkedOrder" type="number" class="custom-control-input" value="{{this.order_id}}" hidden>
                    {{/each}}
                </div>
                <button type="submit" class="btn btn-primary">Chấp nhận</button>
            </form>
        </div>
        </div>
    </div>
    </div>
</div>